*{
	margin: 0;
	padding: 0;
}
.wall{
	background-color: seagreen;
	height: 40px;
	width: 40px;
	display: inline-block;
}
.blank{
	background-color: green;
	height: 40px;
	width: 40px;
	display: inline-block;
}
.sushi{
	background-color: green;
	height: 40px;
	width: 40px;
	display: inline-block;
	background-image: url("sushi.png");
	background-size: contain;
}
.row{
	line-height: 0;
}
#ninjaman {
	background-color: green;
	height: 40px;
	width: 40px;
	display: inline-block;
	background-image: url("ninja.gif");
	background-size: contain;
	position: absolute;
}
